@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #020205;
  color: #fff;
  cursor: pointer;
  font-size: 62.5%;
  font-family: "Roboto", sans-serif;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 30vh;
}
header h2 {
  padding: 2rem;
}
#logo {
  text-decoration: none;
  color: red;
  font-size: 2rem;
}
.search-form {
  padding: 2rem;
  display: flex;
}
.search-form input {
  padding: 0.5rem;
  width: 100%;
  border: 2px solid rgb(74, 68, 131);
  outline: none;
}

.search-form input[type="text"] {
  font-size: 1.3rem;
}

.search-form button {
  background: rgb(74, 68, 131);
  color: white;
  cursor: pointer;
  padding: 0.5rem;
  border: none;
  outline: none;
  font-weight: bolder;
}

.gallery-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #000;
  padding: 1rem 0rem;
}
.gallery-info a {
  text-decoration: none;
}
.gallery-info a,p{
  background: white;
  padding: 0.3rem;
  font-weight: bolder;
  border-radius: 2px;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
  padding: 2rem 0rem;
  row-gap: 5rem;
  g
  width: 85%;
  margin: auto;
}

.gallery-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
