* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  background: #020205;
  color: #fff;
  cursor: pointer;
  font-size: 62.5%;
}
h1 {
  text-align: center;
  margin: 20px 0px;
  font
}
.form-control {
  display: flex;
  width: 80%;
  margin: 30px auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
input {
  border: 1px solid #dedede;
  border-radius: 4px;
  font-size: 14px;
  padding: 8px 10px;
  margin: 0;
}

input[type="text"] {
  width: 29.75rem;
}

button {
  margin-top: 1rem;
  font-size: 2rem;
  padding: 5px 20px;
  cursor: pointer;
}


@media screen and (max-width: 500px){
    .form-control{
        width: 100%;
    }
    input[type="text"] {
        width: 100%;
      }
}
